// Place all the styles related to the Issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar{
  float:right;
  margin:10px;
}

.sidebar_info{
  background-color: #6bb9f0;
  color: black;
  padding-left:5px;
}

.avatar_img{
  width: 25px;
  height: 25px;
}

.issue_toolbar{
  width: 100%;
}

.comment_toolbar{
  font-size: 10px;
  color: grey;
}


.hoverTable{
border-collapse:collapse;
width: 100%;
text-align: center;
}

.hoverTable td{ 
padding-top:5px;
padding-bottom:5px;
padding-right:15px;
margin-right: 10px;
text-align: middle;

}
/*
.hoverTable thead{
  background-color: lightgrey;
}

.hoverTable tr:hover {
      background-color: #e7e7e7;
}
*/

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: white;}

#customers tr:hover {background-color: #e7e7e7;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #6bb9f0;
  color: white;
}

.current {
  background-repeat: no-repeat;
  background-position: right center;
}

.asc {
  border-style: solid none none none; 
  border-color: #205081 #205081 #205081 #205081;
}


.desc {
  border-style: none none solid none; 
  border-color: #205081 #205081 #205081 #205081;
}

.borde{
  margin:10px;
}

.deleteSymbol{
  color:red;
  font-weight: bold;
}

.buttonC {
  background-color: #e7e7e7; /* Gray */
  border: 2px solid black;
  color: black;
  padding: 10px 24px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  
  position:absolute;
  transition: .5s ease;
  top: 16%;
  left: 88%;
  font-weight: bold;
}

.buttonC:hover {
  background-color: #e7e7e7; /* Gray */
  border: 2px solid black;
  color: black;
  padding: 10px 24px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
  position:absolute;
  transition: .5s ease;
  top: 16%;
  left: 88%;
  font-weight: bold;
}

.buttonB {
  background-color: #e7e7e7; /* Gray */
  border: 2px solid black;
  color: black;
  padding: 10px 24px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}

.buttonB:hover {
  background-color: #e7e7e7; /* Gray */
  border: 2px solid black;
  color: black;
  padding: 10px 24px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
}

.p {
  font-variant: small-caps;
  font-size: 14px;
  font-weight: bold;
}

.filter {
  background-color: white; 
  border: 1px solid #e7e7e7;
  border-radius: 12px;
  color: black;
  padding: 10px 24px;;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.filter:hover {
  background-color: #e7e7e7; 
  border: none;
  border-radius: 12px;
  color: black;
  padding: 10px 24px;;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.field{
  font-weight: bold;
  font-variant: small-caps;
}

input[type=text], select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 13%;
  margin: 8px 0;
  cursor: pointer;
  
  background-color: #e7e7e7; /* Gray */
  border: 2px solid black;
  color: black;
  padding: 10px 24px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}

input[type=submit]:hover {
  width: 13%;
  margin: 8px 0;
  cursor: pointer;
  
  background-color: #e7e7e7; /* Gray */
  border: 2px solid black;
  color: black;
  padding: 10px 24px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  
  box-shadow: 0 0 0 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
}
