// Place all the styles related to the Issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar{
  float:right;
}

.sidebar_info{
  background-color: #205081;
  color: white;
  padding-left:5px;
}

.avatar_img{
  width: 25px;
  height: 25px;
}

.issue_toolbar{
  
}

.comment_toolbar{
  font-size: 10px;
  color: grey;
}


.hoverTable{
border-collapse:collapse; 
}

.hoverTable td{ 
padding-top:5px;
padding-bottom:5px;
padding-right:15px; 
}

.hoverTable tr:hover {
      background-color: lightgrey;
}

.current {
  background-repeat: no-repeat;
  background-position: right center;
}

.asc {
  border-style: solid none none none; 
  border-color: #205081 #205081 #205081 #205081;
}


.desc {
  border-style: none none solid none; 
  border-color: #205081 #205081 #205081 #205081;
}
